<html>
	<head>
		<title>Malek's Portfolio</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap">
		<link rel="stylesheet" href="stylesheets/index.css"></link>
	</head>
	<body>
		<section class="header">
			<nav>
				<a href="#about">About</a>
				<a href="#work">Work</a>
				<a href="#projects">Projects</a>
				<a href="#contact">Contact</a>
			</nav>
			<header>
				<span class="button red"></span>
				<span class="button yellow"></span>
				<span class="button green"></span>
			</header>
			<main>
				<p><em>$</em> <span class="terminal-text"></span></p>
			</main>
		</section>
		<section id="about">
			<h2><em>%</em> About</h2>
			<p>My name is <em>Abdelmalek Ihdene</em>,
			I am a <em>Software Developer</em> currently
			studying <em>Electrical Engineering</em>
			at <em>Concordia University</em>
		</section>
		<section id="work">
			<h2><em>?</em> Work<h2>
			<header>
				<a href="#">HTML/CSS Resume</a>
				<a href="#">Python Resume</a>
				<a href="#">C++ Resume</a>
				<a href="#">Golang Resume</a>
			</header>
			<div class="separator"></div>
			<article>
				<h3>SQL/Access Frontend/Backend Developer [2019]</h3>
				<em>Government of Canada</em>
				<ul>
					<li>Microsoft Azure Cloud Database</li>
					<li>SQL Server Management Studio</li>
					<li>Transact-SQL</li>
				</ul>
			</article>
			<div class="separator"></div>
			<article>
				<h3>Python/C++ Rocket GUI/Telemetry Developer [2018]</h3>
				<em>Space Concordia Avionics Division</em>
				<ul>
					<li>Arduino Mega 2560</li>
					<li>GTK+ 3.0</li>
					<li>OpenGL Core</li>
				</ul>
			</article>
		</section>
		<section id="projects">
			<h2><em>#</em> Projects<h2>
			<article>
			</article>
		</section>
		<section id="contact">
			<h2><em>@</em> Contact</h2>
			<main>
				<a href="https://github.com/AbdelmalekIhdene">Github</a>
				<a href="https://www.linkedin.com/in/abdelmalek-ihdene-88b4b319a/">LinkedIn</a>
				<p>(438) 630-1327</p>
				<p>abdelmalek.ihdene@gmail.com</p>
			</main>
		</section>
	</body>
	<script src="scripts/typeit.min.js"></script>
	<script src="scripts/index.js"></script>
</html>
